<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Login</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
     
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input [(ngModel)]="username" id="username" type="text"></ion-input>
        
        </ion-item>
     
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input [(ngModel)]="password" id="password" type="password"></ion-input>
          
        </ion-item>
       
    
    <div text-center padding>
        <button ion-button color="secondary" (click)="submit()">Submit</button>
    </div>
      <p>{{username}}</p>
      <p>{{password}}</p>
</ion-content>
