<!--
  Generated template for the DatatablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>DataTable</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>

</ion-content>
